<!DOCTYPE html>
<html>

  <body>

    <h1><a href="/"><%= title %></a></h1>

    <h3><%= oneBook.title %></h3>
    <h4><%= oneBook.author %></h4>
    <img src=<%= oneBook.image_url %>/>
    <p><%= oneBook.isbn %></p>
    <p><%= oneBook.description %></p>

  </body>
</html>
