<!DOCTYPE html>
<html>
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <% if (added) { %>
      <h1>Success! Enjoy your new book.</h1>
    <% } %>
    <div class="card">
      <%- include('../../partials/bookCard', {book: book}) %>
      <p class="card-text"><%= book.description %></p>
      <p class="card-isbn"><%= book.isbn %></p>
    </div>
  </body>
</html>
