<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <section class="books">
      <% books.forEach(book => { %>
        <div class="card in-block">
          <img src=<%=book.image_url %> alt="image">
          <h3 class="card-title"><%= book.title %></h3>
          <h4 class="card-author"><%= book.author %></h4>
          <a class="card-button" href="/books/<%=book.book_id %>">More Details</a>
        </div>
      <% }) %>
    </section>
    <%- include('partials/footer') %>
  </body>
</html>
